<%- include('includes/header') %>

<div class="error-page">
    <h2 class="headline text-warning"> 404</h2>

    <div class="error-content">
        <p><center><i class="fas fa-exclamation-triangle text-warning"></i></center></p>
      <h3><center>Sahifa topilmadi.</center></h3>
      <p>
        <center><a href="/">Bosh sahifaga qaytish</a></center>
      </p>
    </div>
    <!-- /.error-content -->
  </div>


<%- include('includes/footer') %>